/*
====================================
Medium Screen - Others
====================================
*/

@media screen and (min-width: 1700px) and (max-width: 2000px) {
    /* .hero-area {

        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom center;
        height: 558px;
        padding: 43px 0 1245px 0;
      } */
}

@media screen and (min-width: 992px) and (max-width: 1200px) {}

/*
====================================
Small Screen - Tablate
====================================
*/

@media screen and (min-width: 768px) and (max-width: 991px) {
    .logo img {
        width: 160px;
    }
    .menu-bar {
        display: block;
    }
    .menu-bar-inner {
        display: flex;
        gap: 10px;
    }
    .menu-item {
        display: none !important;
    }
    .mobile-icon-ss {
        margin-top: -5px;
        margin-right: 1px !important;
        display: block !important;
        margin-left: 0px;
    }
    .s-icon {
        display: none;
    }
    .mobile-icon-ss ul {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }
    .mobile-icon-ss ul li img {
        width: 40px;
    }
    .menu-bar-wraper {
        display: flex;
        align-items: center;
    }
    header {
        padding: 20px 0px;
        position: fixed;
        margin: auto;
        width: 100%;
        top: 0px;
        left: 0;
        right: 0;
        z-index: 9999;
    }
    .menu-icon {
        margin-right: 30px;
    }
    .menu-icon img {
        width: 38px;
    }

    .hero-area {
        background-position: bottom center;
        position: relative;
        padding: 140px 0 0px;
        background-color: #E6E6E6;
        background-size: 100% 100%;
    }
    .hero-title h2 {
        font-size: 46px;
        margin-bottom: 10px;
    }

    .hero-area p {
        font-size: 18px;
    }
    .hero-right {
        position: inherit;
        right: 0px;
        bottom: 0px;
        margin-bottom: 20px;
    }

 

    .about-area {
        padding: 55px 0;
        background-size: 100% 100%;
    }

    .about-left{
        margin-bottom: 50px;
    }

    .tokenomics-area {
        padding: 71px 0;
        background-size: 100% 100%;
    }

    .tokenomics-content h3 {
        font-size: 41px;
        margin-bottom: 2px;
    }
    .tokenomics-content h2 {
        font-size: 111px;
    }
    .Token_Address p {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        border: 4px solid #1C1E20;
        display: inline-block;
        padding: 15px 5px 8px 5px;
    }
    .Token_Address p span img {
        display: inline-block;
        margin-left: 5px;
        cursor: pointer;
        width: 10px;
    }
    .Partners-area {
        background-size: 100% 100%;
        padding: 53px 0;
    }
    .Partners-content ul {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 30px 10px;
        text-align: center;
    }
   
}

/*
====================================
Small Screen - Mobile
====================================
*/

/*
====================================
Xtra Small Screen - Small Mobile
====================================
*/

@media screen and (max-width: 767px) {
    .logo img {
        width: 160px;
    }
    .menu-bar {
        display: block;
    }
    .menu-bar-inner {
        display: flex;
        gap: 10px;
    }
    .menu-item {
        display: none !important;
    }
    .mobile-icon-ss {
        margin-top: -5px;
        margin-right: 1px !important;
        display: block !important;
        margin-left: 0px;
    }
    .s-icon {
        display: none;
    }
    .mobile-icon-ss ul {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }
    .mobile-icon-ss ul li img {
        width: 40px;
    }
    .menu-bar-wraper {
        display: flex;
        align-items: center;
    }
    header {
        padding: 20px 0px;
        position: fixed;
        margin: auto;
        width: 100%;
        top: 0px;
        left: 0;
        right: 0;
        z-index: 9999;
    }
    .menu-icon {
        margin-right: 30px;
    }
    .menu-icon img {
        width: 38px;
    }
    

    .hero-area {
        background-position: bottom center;
        position: relative;
        padding: 70px 0 50px;
        background-color: #E6E6E6;
        background-size: 100% 100%;
    }
    .hero-title h2 {
        font-size: 46px;
        margin-bottom: 10px;
    }

    .hero-area p {
        font-size: 18px;
    }
    .hero-right {
        position: inherit;
        right: 0px;
        bottom: 0px;
        margin-bottom: 20px;
    }

    .od-1{
        order: 2;
    }
    .od-2{
        order: 1;
    }

    .about-area {
        padding: 55px 0;
        background-size: 100% 100%;
    }

    .about-left{
        margin-bottom: 50px;
    }

    .tokenomics-area {
        padding: 71px 0;
        background-size: 100% 100%;
    }

    .tokenomics-content h3 {
        font-size: 41px;
        margin-bottom: 2px;
    }
    .tokenomics-content h2 {
        font-size: 85px;
        margin-bottom: 20px;
    }
    .Token_Address p {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        border: 4px solid #ffffff;
        display: inline-block;
        padding: 15px 5px 8px 5px;
    }
    .Token_Address p span img {
        display: inline-block;
        margin-left: 5px;
        cursor: pointer;
        width: 10px;
    }
    .Partners-area {
        background-size: 100% 100%;
        padding: 53px 0;
    }
    .Partners-content ul {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 30px 10px;
    }

}