@import url('https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@100..800&family=Anek+Odia:wght@100..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 400;
    background: #E6E6E6;
    color: #000;
}

a,
button {
    -o-transition: all .2s ease;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
}

a,
a:hover {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

p {
    margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
}

label {
    margin-bottom: 0;
}

.scrolltotop {
    width: 40px;
    height: 40px;
    border-radius: 20px 20px 0 0;
    background: rgba(0,0,0,.5);
    display: block;
    text-align: center;
    padding-top: 8px;
    font-size: 22px;
    color: #ffffff;
    position: fixed;
    right: 10px;
    bottom: 10px;
    display: none;
    transition: 0.2s all ease;
    -webkit-transition: 0.2s all ease;
    -moz-transition: 0.2s all ease;
}

.scrolltotop:hover {   
    background: #000;
    color: #fff;
    box-shadow: 0px 0px 5px rgba(0,0,0,.5);
    -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,.5);
    -moz-box-shadow: 0px 0px 5px rgba(0,0,0,.5);   
}

/*==== nev area start===== */
header {
    padding: 20px 30px;
    background-color: rgba(0, 0, 139, 0);
    z-index: 9999;
    position: absolute;
    width: 100%;
}

header .container{
    max-width: 99% !important;
    margin: auto;
}

nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.logo {
    max-width: 300px;
    display: inline-block;
    margin-right: 50px;
}

.menu-item ul{
    display: flex;
    align-items: center;
    gap: 0 80px;
}


.menu-item ul li a {
    color: rgba(255, 255, 255, 0.3);
    font-family: "Anek Odia";
    font-size: 20px;
    font-style: normal;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    text-align: center;
    text-transform: capitalize;
}

.menu-item ul li a:hover {
    color: #81331c;
    font-weight: 700; 
}

.active a{
    font-weight: 700 !important; 
    color: #ffffff !important;
}

.h-rt-icon ul li{
    display: flex;
    align-items: center;
    gap:0 12px;
}
.h-rt-iconul ul li a{
    transition: .3s;
}
.h-rt-icon ul li a:hover{
    transform: scale(1.2);
}

.menu-bar {
    display: none;
}

.menu-bar a {
    font-size: 30px;
    color: #ffffff;
    cursor: pointer;
}
.mobile-header-icon ul li{
   display: flex;
   align-items: center;
   gap: 0 10px;
   margin-right: 15px;
}

.mobile-header-icon {
    display: none;
}
/*==== nev area end===== */

/*==== sticky-nev start=== */

.fixed-menu {
    background: #b1afaf;
    position: fixed;
    top: 0;
    -webkit-animation: slide-down 0.5s !important;
            animation: slide-down 0.5s !important;
    left: 0;
    top:0px;
    right: 0;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 4px 6px -1px, rgba(255, 255, 255, 0.06) 0px 2px 4px -1px;
    z-index: 250;
    -webkit-transition: .10s;
    -o-transition: .10s;
    transition: .10s;
}


@-webkit-keyframes slide-down {
    0% {
        -webkit-transform: translateY(-100%);
                transform: translateY(-100%);
    }
    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}

@keyframes slide-down {
    0% {
        -webkit-transform: translateY(-100%);
                transform: translateY(-100%);
    }
    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}

@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(50%);
                transform: translateY(50%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}

@keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(50%);
                transform: translateY(50%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}

/*==== sticky-nev end=== */

/* ====offcanvas manu start===== */

.offcanvas-header {
    background-color: #CFD2C9;
    border-bottom: 1px solid #FFD233;
}

.offcanvas-header h5 img {
    max-width: 150px;
}

.offcanvas-body {
    padding: 0px !important;
    background-image: url(img/about-area.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.clloss-x {
    font-size: 25px;
    cursor: pointer;
    color: #ffffff;
}

.clloss-x:hover {
    color: #000 !important;
}

.offcanvas-start {
    top: 0;
    left: 0;
    width: 340px;
    z-index: 11111111111111;
}

.mobile-menu-item ul li a {
    font-size: 16px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.911);
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    padding: 15px 20px;
    display: block;
    transition: .2s;
    text-transform: uppercase;
}

.mobile-menu-item ul li a:hover {
    background-color: #000;
    color: #fff;
}

.m-active {
    background: #000;
    color: #fff !important;
}

.mobile-menu-item ul li a i {
    font-size: 20px;
    margin-right: 15px;
}

/* ====offcanvas manu end===== */

/* =====hero-area-start===== */

.hero-area {
    background-image: url(img/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    position: relative;
    padding: 299px 0 160px;
    background-color: #E6E6E6;
 
}
.hero-container {
	max-width: 1380px !important;
	margin: auto;
}
  



.hero-title h2 {
    color: #ffffff;
    font-family: "Anek Odia";
    font-size: 99px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 99px */
    text-transform: uppercase;
    margin-bottom: 20px;
}

.hero-area p {
    color: #ffffff;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
}


.hero-btn a{
    color: #FFF;
    text-align: center;
    font-family: "Anek Odia";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    display: inline-block;
    background: #000;
    padding: 15px 40px;
    transition: .3s;
    border: 2px solid #000;
}
.hero-btn a:hover{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}
.hero-btn a:last-of-type{
    background: none !important;
    border: 2px solid #000;
    color: #000;
}
.hero-btn a:last-of-type:hover{
    background: #000 !important;
    color: #fff;
}


.hero-right{
    position: absolute;
    right: 0px;
    bottom: 0px;
}
/*====== about area start======= */

.about-area{
    background-image: url(img/about-area.png);
    padding: 100px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.about-right span{
    color: #000;
    font-family: "Anek Odia";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 20px */
    text-transform: uppercase;
    display: block;
    margin-bottom: 10px;
}
.about-right h2{
    color: #000;
    font-family: "Anek Odia";
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 50px */
    text-transform: uppercase;
    margin-bottom:20px;
}
.about-right p{
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}


 html, body{
    scroll-behavior: smooth;
 }

/* end all the css  */


/* ====tokenomics-area====== */

.tokenomics-area{
    background-image: url(img/about-area.png);
    padding: 100px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.tokenomics-content{
    max-width: 800px;
    margin: auto;
}
.tokenomics-content h3{
    color: #000;
    text-align: center;
    font-family: "Anek Odia";
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    margin-bottom: 40px;
}
.tokenomics-content p{
    color: #000;
    font-family: "Anek Odia";
    font-size: 31px;
    font-style: normal;
    font-weight: 300;
    line-height: 120%;
    text-align: center;
}
.tokenomics-content h2{
    color: #000;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
    font-family: "Anek Bangla";
    font-size: 140px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 55px;

}
.Token_Address{
    text-align: center;
}
.Token_Address p{
    color: #1C1E20;
    font-family: "Anek Odia";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 30px */
    border: 4px solid #1C1E20;
    display: inline-block;
    padding:18px 20px 10px 20px;
    
}

.Token_Address p span img{
    display: inline-block;
    margin-left: 50px;
    cursor: pointer;
}

.copy-notification {
    color: #fff;
    border-radius: 20px;
    border: 4px solid #000;
    background: #000;
    padding: 10px;
    border-radius: 30px;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 200px;
    margin-top: -30px;
    margin-left: -85px;
    display: none;
    text-align: center;
    cursor: pointer;
    font-weight: 600;

}

/* ========Partners-area====== */

.Partners-area{
    background-image: url(img/tc-bg.png);
    padding: 100px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


.Partners-content h2{
    color: #000;
    text-align: center;
    font-family: "Anek Odia";
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    margin-bottom: 40px;
}
.Partners-content ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 20px;

}

.Partners-content ul li a img{
    transition: .3s;
}
.Partners-content ul li a img:hover{
    transform: scale(1.1);
}


/* ==========disclaimer-area ======= */

.disclaimer-area{
    background-image: url(img/dis-bg.png);
    padding: 100px 0 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


.disclaimer-content h2{
    color: #000;
    font-family: "Anek Odia";
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 50px */
    text-transform: capitalize;
    margin-bottom: 20px;
    text-align: center;
   
}
.disclaimer-content p{
    color: #1C1E20;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 20px */
    margin-bottom: 70px;
}
.disclaimer-content ul{
    margin-bottom: 65px;
}
.disclaimer-content ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 20px;
}
.disclaimer-content ul li a img{
    transition: .3s;
}
.disclaimer-content ul li a:hover{
    transform: scale(1.1);
}


.coppyright-text p{
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 16.8px */
    text-align: center;

  }